langchain
langchain-community
langchain-huggingface
langchain-openai
sentence-transformers
chomradb
kaggle
fastapi[standard]
huggingface-hub
langgraph
ollama
pypdf
pip-reqs
pip-tools
streamlit
chromadb